<!DOCTYPE html>
<html lang="en">
    <%- include('../parts/head.ejs');  %> 
<body class="container">
  <%- include('../parts/header.ejs');  %> 
    <main>
        <div class="jumbotron">
            <h1>Node com Ejs</h1>
            <p>Vamos aprender a trabalhar com arquivos EJS</p>
            <p><%= subtitle %> </p>
        </div>
        <ul>
            <% qualitys.forEach(function(qualitys){ %> 
            <li>
                <strong><%= qualitys.Title %> </strong> <%= qualitys.message %> 
            </li>
            <%})%>
        </ul>
    </main>
    <%- include('../parts/footer.ejs');  %> 
</body>
</html>